In [23]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

df = pd.read_csv('vgsales_8.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,9424,Winning Post 5,PS2,2001.0,Sports,Tecmo Koei,0.00,0.00,0.13,0.00,0.13
1,15694,Prince of Stride,PSV,2015.0,Adventure,Kadokawa Games,0.00,0.00,0.02,0.00,0.02
2,15166,Cities in Motion Collection,PC,2011.0,Simulation,Unknown,0.00,0.02,0.00,0.00,0.02
3,12177,Winning Post 7 2010,PS3,2010.0,Sports,Tecmo Koei,0.00,0.00,0.07,0.00,0.07
4,9874,"Ed, Edd n Eddy: The Mis-Edventures",GBA,2005.0,Platform,Midway Games,0.08,0.03,0.00,0.00,0.12
...,...,...,...,...,...,...,...,...,...,...,...
548,12799,Space Chimps,DS,2008.0,Platform,Brash Entertainment,0.05,0.00,0.00,0.00,0.06
549,14424,Codename: Panzers Cold War,PC,2009.0,Strategy,Atari,0.00,0.02,0.00,0.01,0.03
550,7549,MLB 10: The Show,PSP,2010.0,Sports,Sony Computer Entertainment,0.19,0.00,0.00,0.02,0.20
551,2207,The Witcher 2: Assassins of Kings,X360,2012.0,Action,Namco Bandai Games,0.48,0.36,0.02,0.08,0.94
552,15733,Super Speed Machines,DS,2009.0,Racing,Midas Interactive Entertainment,0.02,0.00,0.00,0.00,0.02

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          549 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     551 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

In [25]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,549.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8360.500904,2006.701275,0.252477,0.153562,0.077052,0.046890,0.530434
std,4726.436002,5.697517,0.671768,0.436873,0.288861,0.121542,1.316603
min,30.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4597.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8508.000000,2007.000000,0.070000,0.020000,0.000000,0.010000,0.160000
75%,12452.000000,2011.000000,0.230000,0.110000,0.040000,0.040000,0.420000
max,16583.000000,2016.000000,9.030000,5.040000,3.810000,1.320000,14.760000

In [26]:
df.shape

(553, 11)

In [27]:
dff = df.drop(columns=['Year'])
dff.head(10)

,Rank,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,9424,Winning Post 5,PS2,Sports,Tecmo Koei,0.00,0.00,0.13,0.00,0.13
1,15694,Prince of Stride,PSV,Adventure,Kadokawa Games,0.00,0.00,0.02,0.00,0.02
2,15166,Cities in Motion Collection,PC,Simulation,Unknown,0.00,0.02,0.00,0.00,0.02
3,12177,Winning Post 7 2010,PS3,Sports,Tecmo Koei,0.00,0.00,0.07,0.00,0.07
4,9874,"Ed, Edd n Eddy: The Mis-Edventures",GBA,Platform,Midway Games,0.08,0.03,0.00,0.00,0.12
5,935,GoldenEye 007 (2010),Wii,Action,Activision,0.85,0.71,0.13,0.16,1.86
6,2583,Dragon's Dogma,X360,Role-Playing,Capcom,0.42,0.24,0.07,0.06,0.80
7,10040,DiRT Rally,XOne,Racing,Codemasters,0.03,0.08,0.00,0.01,0.11
8,15402,Motocross Mania 3,XB,Racing,Take-Two Interactive,0.01,0.00,0.00,0.00,0.02
9,13761,Infamous: First Light,PS4,Action,Sony Computer Entertainment,0.00,0.03,0.00,0.01,0.04

In [28]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            4
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [29]:
dfz = df.replace({'Year' : np.nan}, '2023')
dfz.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [30]:
dfq = df
simple = SimpleImputer(strategy='mean', missing_values=np.nan)
simple = simple.fit(dfq[['Year']])
dfq['Year'] = simple.transform(dfq[['Year']])
dfq.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [31]:
df.sort_values(by='Platform', ascending=False).tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
235,8216,Yu-Gi-Oh! Zexal World Duel Carnival,3DS,2013.000000,Misc,Konami Digital Entertainment,0.00,0.08,0.08,0.01,0.17
34,5717,Bust-A-Move Universe,3DS,2011.000000,Puzzle,Square Enix,0.08,0.15,0.06,0.03,0.31
133,12094,Moshi Monsters: Katsuma Unleashed,3DS,2013.000000,Action,Activision,0.03,0.04,0.00,0.00,0.07
202,8509,Doctor Lautrec and the Forgotten Knights,3DS,2011.000000,Adventure,Konami Digital Entertainment,0.07,0.05,0.03,0.01,0.16
504,9128,Farming Simulator 2012,3DS,2012.000000,Action,Excalibur Publishing,0.00,0.12,0.00,0.02,0.14
365,4884,LEGO The Lord of the Rings,3DS,2012.000000,Action,Warner Bros. Interactive Entertainment,0.19,0.17,0.00,0.03,0.39
375,4786,Mouse Trap,2600,1981.000000,Action,Coleco,0.38,0.02,0.00,0.00,0.40
101,7371,Ghostbusters II,2600,2006.701275,Action,Activision,0.20,0.01,0.00,0.00,0.21
389,4896,Bump 'n' Jump,2600,1982.000000,Racing,Mattel Interactive,0.37,0.02,0.00,0.00,0.39
233,3046,Adventures of Tron,2600,1981.000000,Action,Mattel Interactive,0.63,0.03,0.00,0.01,0.67

In [32]:
df.to_csv('df.csv')
dff.to_csv('dff.csv')
dfq.to_csv('dfq.csv')
dfz.to_csv('dfz.csv')